<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Historias detrás de la música</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
	<h1> Datos Interesantes </h1>
	<p id="parrafoInteresantes"> En esta sección encontrarás las biografías más llamativas del mundo del Melodic Techno a nivel Mundial </p>
	<div id="grilla">
		<section id="wooYork"class="border"></section>
		<section id="fideles" class="border"></section>
		<section id="stephanBodzin" class="border"></section>
		<section id="colyn" class="border"></section>
		<section id="taleofUs" class="border"></section>
		<section id="artbat" class="border"></section> 
	</div>
	<h1> <a href="../../index.html" title="Volver a página principal"> Volver a página principal </a> </h1>
</body>
</html>