<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Próximos Eventos</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
	<h1> Agenda Electrónica </h1>
<body>
	<p id="agendaTitulo"> En este espacio encontrarás próximos eventos a realizarse que pueden ser de ínteres, o no, para el público. Tendrás múltiples links (que no aseguran la calidad de audio deseada) para disfrutar de lo mejor del Melodic Techno a nivel mundial 
	</p>
	<a href="../../index.html" title="Volver a página principal">Volver a página principal</a>
</body>
</html>