<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Conocenos </title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<h1> Contacto</h1>
	<br>
	<br>
		<hr>
		<div class="formulario" align="center">
		<form class="afterlife" action="indexQI_submit" method="" accept-charset="utf-8">
			Nombre:    <input type="text" name="Nombre">
	<br>
		<label class="afterlife" > Correo Electrónico:	<input type="email" name="Correo Electrónico">
		</label>
	<br>
		<labelclass="afterlife" > Estado Cívil:<select name="Estado Cívil">
			<option value="Soltero">Soltero </option>
			<option value="Casado" >Casado  </option>
			<option value="Divorciado" >Divorciado  </option>
			<option value="Viudo" >Viudo  </option>
		</select>
		</label>
	<br>
		<label class="afterlife" > Sexo: Masculino <input type="Radio" name="H" value="H">
					 Femenino <input type="Radio" name="F" value="F">		
		</label>
	<br>
		<label class="afterlife" > Comentarios: <textarea name=""></textarea>
		</label>
	<br>
			<input class="colorFormulario" type="submit" value="Enviar Formulario">
			<input class="colorFormulario" type="reset" value="Limpiar Formulario">
			
		</form>
	</div>
	<hr>
	<br>
		<a  href="../../index.html" title="Volver a página principal"> Volver a página principal </a>
</body>
</html>