<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Últimos Lanzamientos</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link href="https://www.youtube.com/watch?v=1LiiTwHKVkg" rel="stylesheet">
</head>
<body>
	<h1 class="colyn" > Ultimos sets en orden cronológico</h1>
		<div class="parrafoDenis">
		<p class="parrafo"> Con críticas considerables pero con bastantes adeptos afterlife nos trae la tercera parte de su ciclo de lives, iniciado durante esta cuarentena, a cargo de Denis Horvat quien desde Dinamarca buscó ponernos a bailar a todos en casa. https://www.youtube.com/watch?v=1LiiTwHKVkg  </p>
		</div>
	<a href="../../index.html" title="Volver a página principal"> Volver a página principal </a>
</body>
</html>